{% spaceless %}
<!DOCTYPE html>
<html lang="{{ locale|slice(0, 2) }}">
<head>
    {% block common_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ getPageName() }}{% endblock %}</title>

        {% include "AgitUiBundle:Include:include.langswitch.html.twig" %}

        {% block favicon %}
            <link rel="icon" href="/favicon.png">
        {% endblock %}
    {% endblock %}

    {% block area_meta %}
        {# area meta #}
    {% endblock %}

    {% block meta %}
        {# page meta #}
    {% endblock %}

    {% block common_css %}
        {% stylesheets
            "@AgitUiBundle/Resources/public/css/bootstrap.css"
            "@AgitUiBundle/Resources/public/css/bootstrap-theme.css"
            "@AgitUiBundle/Resources/public/css/font.roboto.css"
            "@AgitUiBundle/Resources/public/css/common.css"
            "@AgitUiBundle/Resources/public/css/modal.css"
            "@AgitUiBundle/Resources/public/css/forms.css"

            filter="?cleancss"
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% block area_css %}
        {# area CSS #}
    {% endblock %}

    {% block css %}
        {# page CSS #}
    {% endblock %}
</head>
<body>
    {% block content %}
    <main>

    </main>
    {% endblock %}

    {% block common_templates %}
        {% include "AgitUiBundle:Include:template.forms.html.twig" %}
        {% include "AgitUiBundle:Include:template.modal.html.twig" %}
    {% endblock %}

    {% block area_templates %}
        {# area template includes #}
    {% endblock %}

    {% block templates %}
        {# page template includes #}
    {% endblock %}

    {% block config_js %}
        <script type="text/javascript">/* <![CDATA[ */
            window.ag = window.ag || {};
            ag.cfg = ag.cfg || {};
            ag.cfg.locale = "{{ locale }}";
        /* ]]> */</script>
    {% endblock %}

    {% block common_js %}
        {% javascripts
            "@AgitBaseBundle/Resources/public/js/var/init.js"
            "@AgitBaseBundle/Resources/public/js/lib/Collection.js"
            "@AgitBaseBundle/Resources/public/js/lib/MessageHandler.js"
            "@AgitBaseBundle/Resources/public/js/lib/Date.js"
            "@AgitBaseBundle/Resources/public/js/lib/Time.js"
            "@AgitBaseBundle/Resources/public/js/lib/Broker.js"
            "@AgitBaseBundle/Resources/public/js/lib/State.js"

            "@AgitIntlBundle/Resources/public/js/lib/plurals.js"
            "@AgitIntlBundle/Resources/public/js/lib/intl.js"

            "@AgitUiBundle/Resources/public/js/ext/jquery.js"
            "@AgitUiBundle/Resources/public/js/ext/bootstrap.js"
            "@AgitUiBundle/Resources/public/js/var/translations.js"

            "@AgitUiBundle/Resources/public/js/var/update-links.js"
            "@AgitUiBundle/Resources/public/js/lib/tool/Date.js"
            "@AgitUiBundle/Resources/public/js/lib/tool/Format.js"
            "@AgitUiBundle/Resources/public/js/lib/tool/Template.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Element.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Views.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/ActionRegistry.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/View.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Block.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Form.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Field.js"
            "@AgitUiBundle/Resources/public/js/lib/field/NativeField.js"
            "@AgitUiBundle/Resources/public/js/lib/field/ComplexField.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Text.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Select.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Checkbox.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/Title.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/Callout.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/ModalMessageHandler.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/ModalOverlay.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Modal.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Dialog.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Display.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Alert.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Confirm.js"
            "@AgitUiBundle/Resources/public/js/lib/modal/Prompt.js"

            filter="?uglifyjs"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block area_js %}
        {# area JS #}
    {% endblock %}

    {% block js %}
        {# page JS #}
    {% endblock %}
</body>
</html>
{% endspaceless %}
