<template>
{% block formrow %}
    <div class="form-group">
        <p>{{ label }}</p>
        <p>{{ element|raw }}</p>
    </div>
{% endblock %}

{% block label %}
    <label for='{{ id }}'>{{ text }}</label>
{% endblock %}

{% block textInput %}
    <input id='{{ id }}' name='{{ name }}' class='form-control' type='text' value='{{ default }}'>
{% endblock %}

{% block numberInput %}
    <input id='{{ id }}' name='{{ name }}' class='form-control' type='number' value='{{ default }}'
        {{ minValue is not null ? " min='{{minValue}}'" : '' }}
        {{ maxValue is not null ? " max='{{maxValue}}'" : '' }}
        {{ allowFloat ? '' : " step='1'" }}
    >
{% endblock %}

{% block textarea %}
    <textarea id='{{ id }}' name='{{ name }}' class='form-control'>{{ default }}</textarea>
{% endblock %}

{% block select %}
    <select id='{{ id }}' class='form-control' name='{{ name }}'>
    {% for key,value in values %}
        <option value='{{ key }}' {{key == default ? " selected='selected'" : "" }}>{{ value }}</option>
    {% endfor %}
    </select>
{% endblock %}

{% block multiSelect %}
    <select id='{{ id }}' class='form-control' name='{{ name }}' multiple='multiple'>
    {% for key,value in values %}
        <option value='{{ key }}' {{ key in default ? " selected='selected'" : "" }}>{{ value }}</option>
    {% endfor %}
    </select>
{% endblock %}

{% block checkbox %}
    <input id='{{ id }}' name='{{ name }}' class='form-control' type='checkbox' {{ checked ? " checked='checked'" : "" }}>
{% endblock %}
</template>
