{% spaceless %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        <title>{% block title %}{% endblock %}</title>

        {% include 'AgitUiBundle:Include:include.noindex.html.twig' %}
        <link rel="icon" href="/favicon.ico">
        <meta name="description" content="{{ summary }}">

        {% if canonicalUrl is defined and localeUrls is defined %}
            <link rel="canonical" href="{{ canonicalUrl }}" />

            {% for loc,url in localeUrls %}{% if loc != locale %}
                <link rel="alternate" hreflang="{{ loc|slice(0,2) }}" href="{{ url }}" />
            {% endif %}{% endfor %}
        {% endif %}
    {% endblock %}

    {% block base_css %}
        {% stylesheets
            '@AgitUiBundle/Resources/public/css/bootstrap.css'
            '@AgitUiBundle/Resources/public/css/bootstrap-theme.css'
            '@AgitUiBundle/Resources/public/css/font.sourcesanspro.css'
            '@AgitUiBundle/Resources/public/css/common.css'

            filter='?yui_css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% block page_css %}
    {% endblock %}
</head>
<body role="document">
    {% block body %}
    {% endblock %}

    {% block base_js %}
        {% javascripts
            '@AgitUiBundle/Resources/public/js/external/jquery.js'
            '@AgitUiBundle/Resources/public/js/external/bootstrap.js'
            '@AgitUiBundle/Resources/public/js/external/ie10-viewport-bug-workaround.js'

            filter='?yui_js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block page_js %}
    {% endblock %}
</body>
</html>
{% endspaceless %}
