{% spaceless %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.png">

    {% include "AgitPageBundle:Include:include.links.html.twig" %}
    {% include "AgitUiBundle:Include:include.langswitch.html.twig" %}

    <title>{{ block("title") }}</title>

    {% block common_css %}
        {% stylesheets
            "@AgitUiBundle/Resources/public/css/bootstrap.css"
            "@AgitUiBundle/Resources/public/css/bootstrap-theme.css"
            "@AgitUiBundle/Resources/public/css/font.awesome.css"
            "@AgitUiBundle/Resources/public/css/font.roboto.css"
            "@AgitUiBundle/Resources/public/css/page.css"
            "@AgitUiBundle/Resources/public/css/overlay.css"
            "@AgitUiBundle/Resources/public/css/modal.css"
            "@AgitUiBundle/Resources/public/css/message.modal.css"
            "@AgitUiBundle/Resources/public/css/spinner.css"
            "@AgitUiBundle/Resources/public/css/indicator.css"
            "@AgitUiBundle/Resources/public/css/forms.css"
            "@AgitUiBundle/Resources/public/css/common.css"

            filter="?uglifycss"
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% block area_css %}
        {# area CSS #}
    {% endblock %}

    {% block css %}
        {# page CSS #}
    {% endblock %}

    {% block local_css %}
        {# local CSS #}
    {% endblock %}
</head>
<body role="document">
    {% block body %}
        <div class="body">
            <header>
                {% block header %}
                    {% embed "AgitUiBundle:Include:include.header.html.twig" %}
                        {% block menu %}
                            {% import "AgitUiBundle:Include:macro.menu.html.twig" as nav %}
                            {{ nav.menu(getPageTree("/")) }}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            </header>

            <main class="container">
                {% block main %}
                {% endblock %}
            </main>

            <footer>
                {% block footer %}
                    {% embed "AgitUiBundle:Include:include.footer.html.twig" %}
                        {% block left %}
                            Powered by <a href="https://github.com/agitation" target="_blank">Agitation</a>
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            </footer>
        </div>
    {% endblock %}

    {% block common_templates %}
        {% include "AgitUiBundle:Include:template.page.html.twig" %}
        {% include "AgitUiBundle:Include:template.forms.html.twig" %}
        {% include "AgitUiBundle:Include:include.modal.html.twig" %}
        {% include "AgitUiBundle:Include:include.message.modal.html.twig" %}
        {% include "AgitUiBundle:Include:include.indicator.html.twig" %}
    {% endblock %}

    {% block area_templates %}
        {# area template includes #}
    {% endblock %}

    {% block templates %}
        {# page template includes #}
    {% endblock %}

    {% block local_templates %}
        {# local template includes #}
    {% endblock %}

    {% block common_js %}
        {% javascripts
            "@AgitCommonBundle/Resources/public/js/var/init.js"
            "@AgitCommonBundle/Resources/public/js/lib/Collection.js"
            "@AgitCommonBundle/Resources/public/js/lib/Message.js"
            "@AgitCommonBundle/Resources/public/js/lib/MessageHandler.js"
            "@AgitCommonBundle/Resources/public/js/lib/Date.js"
            "@AgitCommonBundle/Resources/public/js/lib/Time.js"

            "@AgitIntlBundle/Resources/public/js/lib/intl.js"
            "@AgitMultilangBundle/Resources/public/js/lib/mlang.js"

            "@AgitUiBundle/Resources/public/js/ext/jquery.js"
            "@AgitUiBundle/Resources/public/js/ext/bootstrap.js"
            "@AgitUiBundle/Resources/public/js/ext/ie10-viewport-bug-workaround.js"

            "@AgitApiBundle/Resources/public/js/lib/Api.js"
            "@AgitApiBundle/Resources/public/js/lib/Preloader.js"
            "@AgitApiBundle/Resources/public/js/lib/ApiError.js"
            "@AgitApiBundle/Resources/public/js/lib/Endpoint.js"
            "@AgitApiBundle/Resources/public/js/lib/Object.js"
            "@AgitApiBundle/Resources/public/js/lib/Indicator.js"
            "@AgitApiBundle/Resources/public/js/var/api.js"

            "@AgitUiBundle/Resources/public/js/lib/tool/Date.js"
            "@AgitUiBundle/Resources/public/js/lib/tool/Format.js"
            "@AgitUiBundle/Resources/public/js/lib/tool/Template.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/State.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Cache.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Page.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/View.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Block.js"
            "@AgitUiBundle/Resources/public/js/lib/ctxt/Form.js"
            "@AgitUiBundle/Resources/public/js/lib/error/FormError.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/ApiForm.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/FormRow.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/FormFooter.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Field.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Text.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Number.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Select.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Checkbox.js"
            "@AgitUiBundle/Resources/public/js/lib/field/Password.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/Modal.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/Spinner.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/ModalMessageHandler.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/Overlay.js"
            "@AgitUiBundle/Resources/public/js/lib/elem/OverlayIndicator.js"
            "@AgitUiBundle/Resources/public/js/var/debug.js"

            filter="?uglifyjs2"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block config_js %}
        <script type="text/javascript">/* <![CDATA[ */
            ag.cfg.locale ="{{ locale }}";
            ag.cfg.apiBaseUrl ="{{ getApiUrlBase() }}";
            ag.cfg.csrfToken ="{{ getCsrfToken() }}";
        /* ]]> */</script>
    {% endblock %}

    {% block area_js %}
        {# area JS #}
    {% endblock %}

    {% block js %}
        {# page JS #}
    {% endblock %}

    {% block local_js %}
        {# local JS #}
    {% endblock %}
</body>
</html>
{% endspaceless %}
